body {
    overflow-y: scroll;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-image: linear-gradient(to bottom right, rgb(255, 230, 230), rgb(230, 230, 255));
}

.landing {
    text-align: center;
    font-size: 40px;
    line-height: 2em;
    padding: 18vh 0 18vh 0;
    margin: auto;
}

.landing h2::before {
    content: "Hello,";
    animation: hello_fade 20s ease-in-out infinite;
    animation-delay: 0.5s;
}

.landing p {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(100, 100, 100);
    line-height: 1.5em;
    padding: 5vh 0 0 0;
    opacity: 0;
    animation: fade_text 5s ease-in-out infinite;
    animation-delay: 2s;
}

.landing span {
    display: block;
    margin: 0 auto -10px auto;
	width: 40px;
	height: 40px;
	border-bottom: 5px solid rgb(100, 100, 100);
	border-right: 5px solid rgb(100, 100, 100);
    transform: rotate(45deg);
    opacity: 0;
    animation: fade_move_down_arrow 5s ease-in-out infinite;
    animation-delay: 2s;
}

.about {
    font-size: 20px;
    line-height: 2em;
    margin: 5vh 10vw;
    padding: 2vh 2vw;

    border-style: groove;
    border-width: 1px;
    border-color:rgb(155, 155, 155);
    border-radius: 8px;
}

.flex {
    display: flex;
}

.intro div {
    width: 80%;
    float: left;
}

.intro img {
    border-radius: 8px;
    width: 240px;
    height: 240px;
    margin: 0 0 0 2%;
}

.skills {
    flex-wrap: wrap;
    justify-content: center;
}

.skills h1 {
    width: 100%;
}

.skills h5 {
    width: 50%;
    margin: 0;
}

.skills div {
    display: flex;
    width: 44%;
    margin: 0 1% 2% 1%;
    padding: 1vh 1vw 1vh 1vw;

    border-style: groove;
    border-width: 2px;
    border-color:rgb(255, 255, 255);
}

.skills img {
    border-radius: 8px;
    width: 100px;
    height: 100px;
    margin: 0 1vw 0 0;
}

.skills div div {
    all: revert;
    width: 100%;
}

.projects {

}

hr {
    align-items: center;
    width: 90vw;
    color: white;
}

@media screen and (max-width: 1000px) {
    .landing {
        font-size: 30px;
    }

    .flex {
      display: block
    }

    .intro div {
        width: 100%;
    }

    .intro img {
        width: 300px;
        height: 300px;
        margin: 0;
    }

    .skills div {
        width: 100%;
        margin: 0 0 2% 0;
    }
  }

@keyframes hello_fade {
    0% { opacity: 1; content: "Hello,"; }
    10% { opacity: 0; }
    20% { opacity: 1; content: "你好,"; }
    30% { opacity: 0; }
    40% { opacity: 1; content: "Hola,"; }
    50% { opacity: 0; }
    60% { opacity: 1; content: "こんにちは,"; }
    70% { opacity: 0; }
    80% { opacity: 1; content: "Bonjour,"; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade_text {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

@keyframes fade_move_down_arrow {
    0% { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50% { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }