body {
    overflow-y: scroll;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background-color: rgb(255, 230, 230);
}

header {
    display: block;
    text-align: center;
    font-size: 40px;
    padding: 6em 0 1.5em 0;
    line-height: 1.5em;
}

#hello::before {
    content: "Hello,";
    animation: hello_fade 20s ease-in-out infinite;
}

.arrow {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    color: rgb(100, 100, 100);
    line-height: 1.5em;
    animation: fade_text 5s ease-in-out infinite;
}

.arrow span {
    display: block;
    margin: 0 auto -10px auto;
	width: 40px;
	height: 40px;
	border-bottom: 5px solid rgb(100, 100, 100);
	border-right: 5px solid rgb(100, 100, 100);
    transform: rotate(45deg);
    animation: fade_move_down_arrow 5s ease-in-out infinite;
}

hr {
    align-items: center;
    width: 35%;
    color: white;
}

@keyframes hello_fade {
    0% { opacity: 1; content: "Hello,"; }
    10% { opacity: 0; }
    20% { opacity: 1; content: "你好,"; }
    30% { opacity: 0; }
    40% { opacity: 1; content: "Hola,"; }
    50% { opacity: 0; }
    60% { opacity: 1; content: "こんにちは,"; }
    70% { opacity: 0; }
    80% { opacity: 1; content: "Bonjour,"; }
    90% { opacity: 0; }
    100% { opacity: 1; }
}

@keyframes fade_text {
    0% { opacity: 0; }
    50% { opacity: 1; }
    100% { opacity: 0; }
  }

@keyframes fade_move_down_arrow {
    0% { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50% { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }